.mantine-15pjuqq {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.mantine-1w6i6a8 {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background-color: rgb(241, 243, 245);
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 999;
}
.mantine-15pjuqq {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.mantine-115iyaz {
    overflow: auto;
    padding: 5px;
    scroll-behavior: smooth;
}
.mantine-s9arro {
    text-decoration: none;
    color: rgb(16, 17, 19);
    margin-right: 16px;
    cursor: pointer;
}
.mantine-s9arro.active {
    background: rgb(253, 235, 4);
    border-radius: 100px;
    padding: 5px 10px;
    color: rgb(16, 17, 19);
}
a:active, a:hover {
    outline-width: 0px;
}
a {
    background: transparent;
}
.mantine-9zohaa {
    margin: -8px;
    display: flex;
    flex-wrap: wrap;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: stretch;
    align-items: stretch;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 1400px) {
    .mantine-fhjbsl {
      flex-shrink: 0;
    }
  }
  @media (min-width: 1200px) {
    .mantine-fhjbsl {
      flex-shrink: 0;
    }
  }
  @media (min-width: 992px) {
    .mantine-fhjbsl {
      flex-shrink: 0;
    }
  }
  @media (min-width: 768px) {
    .mantine-fhjbsl {
      flex-shrink: 0;
    }
  }
  @media (min-width: 576px) {
    .mantine-fhjbsl {
      flex-shrink: 0;
    }
}
.mantine-fhjbsl {
    box-sizing: border-box;
    -moz-box-flex: 0;
    flex: 0 0 50%;
      flex-shrink: 0;
    padding: 8px;
    max-width: 50%;
}
.mantine-9tuz4g {
    outline: 0px;
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 20px;
}
.mantine-6h9eby {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 11px;
    height: 20px;
    line-height: 18px;
    text-decoration: none;
    padding: 0px 10.6667px;
    box-sizing: border-box;
    display: inline-flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    width: auto;
    text-transform: uppercase;
    border-radius: 32px;
    font-weight: 700;
    letter-spacing: 0.25px;
    cursor: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    background: rgb(64, 192, 87);
    color: rgb(255, 255, 255);
    border: 1px solid transparent;
    position: absolute;
    min-height: 28px;
    top: 30px;
    right: 20px;
    z-index: 99;
}
.mantine-6h9eby {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.25px;
    cursor: inherit;
    color: rgb(255, 255, 255);
}
.mantine-qxe4dx {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.55;
    text-decoration: line-through;
    color: rgb(134, 142, 150);
    font-size: 12px;
    margin-top: 12px;
}
.mantine-1btp06s[data-first] {
    margin-top: -20px;
    border-top: 0px;
}
.mantine-1btp06s {
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding-top: 15px;
}
.mantine-11nhzn5 {
    margin: 0px;
}
article, aside, footer, header, nav, section, figcaption, figure, main {
    display: block;
}
.mantine-qqmv3w {
    position: relative;
}
.mantine-3y8yz3 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 0px;
}
img {
    border-style: none;
    vertical-align: middle;
}
.mantine-6qpjlo {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.mantine-152y8ed {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    text-decoration: none;
    font-weight: 500;
}
  .mantine-6qpjlo > * {
    box-sizing: border-box;
    -moz-box-flex: 0;
    flex-grow: 0;
}
.mantine-rwoji2 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: rgb(134, 142, 150);
    font-size: 14px;
    line-height: 1.55;
    text-decoration: none;
}
.mantine-u169ik {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    cursor: pointer;
    border: 0px;
    padding: 0px;
    appearance: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    box-sizing: border-box;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(253, 235, 4);
    text-align: center;
    border-top-left-radius: 16px;
    bottom: 0px;
    right: 0px;
}
button, [type="reset"], [type="submit"] {
    appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
.mantine-1nt18gn {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 55px;
    height: 55px;
    margin-right: 14px;
    z-index: 999;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.mantine-n3zmiq {
    animation-name: animation-3m30n9;
    animation-duration: 1.3s;
    width: 45px;
    height: 45px;
    animation-iteration-count: infinite;
    background-color: rgb(201, 42, 42);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.mantine-n3zmiq {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.mantine-11i0awo {
    width: 13px;
    height: 13px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    background: coral;
    padding: 3px;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}