.mantine-adyf3h {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px, rgba(0, 0, 0, 0.05) 0px 28px 23px -7px, rgba(0, 0, 0, 0.04) 0px 12px 12px -7px;
    position: absolute;
    width: 100vw;
    border-radius: 0px;
    outline: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    inset: 0px;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
}
.mantine-adyf3h-dark{
    background-color: #1a1b1e;
}
.mantine-121w2fi {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
    margin-right: -9px;
}
.mantine-cx9mud {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    text-decoration: none;
    margin-right: 16px;
    text-overflow: ellipsis;
    display: block;
    word-break: break-word;
}
.mantine-1dcetaa {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    cursor: pointer;
    appearance: none;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid transparent;
    background-color: transparent;
    color: rgb(134, 142, 150);
    position: relative;
    height: 28px;
    min-height: 28px;
    width: 28px;
    min-width: 28px;
    border-radius: 4px;
    border-color: blue;
    padding: 0px;
    line-height: 1;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.mantine-1dcetaa {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    color: rgb(134, 142, 150);
    line-height: 1;
}
button, select {
    text-transform: none;
}
.mantine-1dcetaa {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    color: rgb(134, 142, 150);
    line-height: 1;
}
.mantine-adyf3h {
    color: rgb(0, 0, 0);
}
.mantine-l553vn {
    word-break: break-word;
}
.mantine-7s19p3 {
    padding-top: 12px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
.mantine-11nhzn5 {
    margin: 0px;
}
article, aside, footer, header, nav, section, figcaption, figure, main {
    display: block;
}
.mantine-qqmv3w {
    position: relative;
}
*, ::before, ::after {
    box-sizing: border-box;
}
.mantine-3y8yz3 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 0px;
}
img {
    border-style: none;
    vertical-align: middle;
}
.mantine-1dv2r7k {
    color: inherit;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.45;
    margin: 12px 0px 0px;
}
.mantine-1dv2r7k-dark{
    color: white;
}
.mantine-1pbxw0k {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    text-decoration: none;
}
.mantine-1pbxw0k-dark{
    color: white;
}
.mantine-1r5gzak {
    margin-top: 24px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.mantine-1s1l1dq {
    color: inherit;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin: 0px;
}
.mantine-1s1l1dq-dark{
    color: white;
}
.mantine-1523trd {
    width: 120px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    border-radius: 16px;
    padding: 5px 10px;
}
.mantine-1523trd-dark{
    background-color: #101113;
}
.mantine-1523trd-ligth{
    background-color: rgb(241, 243, 245)
}
.mantine-13fglg0 {
    padding: 0px 8px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    display: inline-block;
    width: auto;
    font-weight: 600;
    position: relative;
    line-height: 1;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    height: 36px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.mantine-3xbgk5 {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
}
.mantine-13fglg0 {
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.mantine-13fglg0-dark{
    background-color : #25262b;
}
.mantine-qo1k2 {
    white-space: nowrap;
}
.icon-dark{
    color: white;
}
.mantine-13fglg0:hover {
    background-color: rgb(253, 235, 4);
}
.mantine-16132zt {
    position: fixed;
    bottom: 0px;
    left: 0px;
    min-height: 80px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
.mantine-16132zt-dark{
    background-color: #101113;
}
.mantine-1y0ftcf {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.mantine-s9rjrk {
    padding: 0px 18px;
    appearance: none;
    text-align: left;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    display: inline-block;
    font-weight: 600;
    position: relative;
    line-height: 1;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border: 1px solid transparent;
    width: 100%;
    height: 50px;
    border-radius: 24px;
    background-color: rgb(253, 235, 4);
    color: rgb(16, 17, 19);
}
.mantine-3xbgk5 {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
}
.mantine-qo1k2 {
    white-space: nowrap;
    height: 100%;
    overflow: hidden;
    display: flex;
    -moz-box-align: center;
    align-items: center;
}
.mantine-1o499t4 {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
}
.mantine-1dxpbjr {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    font-size: inherit;
    line-height: 1.55;
    text-decoration: none;
    color: green;
    font-weight: 600;
}
.mantine-ywpxau {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: inherit;
    font-size: inherit;
    line-height: 1.55;
    text-decoration: line-through;
    font-weight: 600;
}
.mantine-ywpxau-dark{
    color: white;
}